.node circle {
    fill: rgb(247, 106, 214);
    stroke: rgb(184, 37, 81);
    stroke-width: 1.5px;
}

.node text {
    font-size: 11px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: black;
    fill: black;
}

.node {
    cursor: pointer;
}

path.link {
    fill: none;
    stroke: #2593B8;
    stroke-width: 1.5px;
}

body {
    background-color: white;
}

span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #F4F4F4;
    text-shadow: 0 1px 4px black;
    float: right;
}


.uninstalled_node {
    fill: red;
}

.previous_node {
    fill: blue;
}


.installation_node {
    fill: green;
}

.installation_path {
    fill: none;
    stroke: black;
    stroke-width: 1.5px;
}

.not_set_node {
    fill: black;
}

.waiting_node {
    fill: orange;
}

.installing_node {
    fill: blue;
}

.installed_node {
    fill: green;
}

.hypothetical {
    fill: blue;
}