/*!
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import "bootstrap-dracula";

// Node text colour
.d_red_node text, .d_cyan_node text, .installation_node text, .d_current_line_node text, .d_yellow_node text, .installing_node text, .d_green_node text, .d_pink_node text, .d_purple_node text, .hypothetical text, .d_orange_node text {
  background-color: $d_red;
  fill: $d_red;
}

// Path colour
.path {
  fill: none;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_current_line_node circle {
  fill: $d_currentLine;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_yellow_node circle {
  fill: $d_yellow;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_cyan_node circle {
  fill: $d_cyan;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_green_node circle {
  fill: $d_green;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_red_node circle {
  fill: $d_red;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_orange_node circle {
  fill: $d_orange;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_pink_node circle {
  fill: $d_pink;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.d_purple_node circle {
  fill: $d_purple;
  stroke: $border-colour;
  stroke-width: 1.5px;
}

.node circle {
  fill: rgb(247, 106, 214);
  stroke: rgb(184, 37, 81);
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
  fill: $d_red;
}

.node {
  cursor: pointer;
}

path.link {
  fill: none;
  stroke: #2593B8;
  stroke-width: 1.5px;
}